<a href="https://colab.research.google.com/github/Miyeon-Pyeon/bigdataanalysis_practice/blob/master/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%A0%84%EC%B2%98%EB%A6%AC_Apply_Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 04_Apply, Map

In [1]:
import pandas as pd

In [11]:
#56

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv',index_col = 0)
Ans = df.shape
Ans

(10127, 18)

In [4]:
# 카드 이용 데이터
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816

In [5]:
#57
# map함수 이용

dic = {
    'Unknown':'N',
    'Less than $40K':'a',
    '$40K - $60K':'b',
    '$60K - $80K':'c',
    '$80K - $120K':'d',
    '$120K +':'e'
}

df['newIncome'] = df.Income_Category.map(lambda x: dic[x])
Ans = df['newIncome']
Ans.head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

In [6]:
#58
# apply함수 이용


def changeCategory(x):
  if x == 'Unknown':
    return 'N'
  elif x == 'Less than $40K':
    return 'a'
  elif x == '$40K - $60K':
    return 'b'
  elif x == '$60K - $80K':
    return 'c'
  elif x == '$80K - $120K':
    return 'd'
  elif x == '$120K +':
    return 'e'

df['newIncome'] = df.Income_Category.apply(changeCategory)

Ans = df['newIncome']
Ans.head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

In [7]:
#59

# dic = {
#     '0~9':'0',
#     '10~19':'10',
#     '20~29':'20'
# }

# 구간을 다 설정하지 않고 계산식으로 함수 만들기

df['AgeState'] = df.Customer_Age.map(lambda x: x//10 *10)

Ans = df['AgeState'].value_counts().sort_index()
Ans

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

In [14]:
#60
# 내 정답(apply 사용)

def changeLevel(x):
  if 'Graduate' in x:
        return 1
  else:
        return 0


df['newEduLevel'] = df.Education_Level.apply(changeLevel)

Ans = df['newEduLevel'].value_counts()
Ans

# 블로그 정답(map 사용)
# df['newEduLevel'] = df.Education_Level.map(lambda x: 1 if 'Graduate' in x else 0)
# Ans = df['newEduLevel'].value_counts()
# Ans

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

In [15]:
#61

df['newLimit'] = df.Credit_Limit.map(lambda x: 1 if x>= 4500 else 0)
Ans = df['newLimit'].value_counts()
Ans

newLimit
1    5096
0    5031
Name: count, dtype: int64

In [18]:
#62

#나의 오답

# def changeStatus(x):
#   if df['Marital_Status'] == 'Married' and df['Card_Category'] == 'Platinum':
#     return 1
#   else:
#     return 0

# df['newState'] = df[['Marital_Status','Card_Category']].apply(changeStatus)

# Ans = df['newStatus'].value_counts()
# Ans

def check(x):
  if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum':
    return 1
  else:
    return 0

df['newState'] = df.apply(check, axis = 1)
Ans = df['newState'].value_counts()
Ans

newState
0    10120
1        7
Name: count, dtype: int64

In [25]:
#63

def cgender(x):
  if x == 'M':
    return 'male'
  elif x == 'F':
    return 'female'

df['newGender'] = df.Gender.apply(cgender)
Ans = df['newGender'].value_counts()
Ans

newGender
female    5358
male      4769
Name: count, dtype: int64