<a href="https://colab.research.google.com/github/Miyeon-Pyeon/bigdataanalysis_practice/blob/master/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%9E%91%EC%97%851%EC%9C%A0%ED%98%95(%ED%8F%AC%EC%BC%93%EB%AA%AC_%EC%A0%95%EB%B3%B4_%EB%8D%B0%EC%9D%B4%ED%84%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
#61
# Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

# 나의 오답
# leg = df[df['Legendary' == 'True']].HP.mean()
# nolg = df[df['Legendary' == 'False']].HP.mean()

# Ans = leg - nolg
# print(Ans)

dd = df.groupby('Legendary').HP.mean()
Ans = dd.values[1] - dd.values[0]
print(Ans)

25.55614861329147

In [8]:
#62
# Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

Ans = df['Type 2'].value_counts()
print(Ans.index[0])

Flying

In [15]:
#63
# 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

Max = df['Type 1'].value_counts().index[0]

Ans = df[df['Type 1']==Max].Attack.mean() / df[df['Type 1'] == Max].Defense.mean()
print(Ans)

1.0165238678090576

In [22]:
#64
# 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

Ans = df[df['Legendary'] == True].Generation.value_counts().index[0]
print(Ans)

3

In [24]:
#65
# HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

dd = df[['HP','Attack','Defense','Sp. Atk','Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns = {0:'corr'})
Ans = dd[dd['corr'] != 1].sort_values('corr', ascending = False).iloc[0]
print(Ans)

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

In [29]:
#66
# 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

Ans = df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()
print(Ans)

19.5

In [31]:
#67
# 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

Ans = df.sort_values(['Generation','Attack'], ascending = False).groupby('Generation').head(5).Attack.mean()
print(Ans)

157.23333333333332

In [36]:
#68
# 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

Ans = df[['Type 1','Type 2']].value_counts().index[0]
print(Ans)

('Normal', 'Flying')

In [43]:
#69
# 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

Ans = df[['Type 1', 'Type 2']].value_counts()
result = len(Ans[Ans == 1])
print(result)

39

In [45]:
#70
# 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

dd = df[['Type 1', 'Type 2']].value_counts()
dd2 = dd[dd==1]

lst = []
for value in dd2.reset_index().values:
  t1 = value[0]
  t2 = value[1]

  sp = df[(df['Type 1'] == t1) & (df['Type 2'] == t2)]
  lst.append(sp)

Ans = pd.concat(lst).reset_index(drop = True).Generation.value_counts().sort_index()
print(Ans)

Generation
1     1
2     4
3     5
4    13
5     7
6     9
Name: count, dtype: int64